
p,ul
{
font-size:16px;
font-family:Comic Sans MS;
}

.exemple
{

font-size:16px;
color:green;
font-family:Impact;


}

.exercice
{

font-size:16px;
color:blue;
font-style:italic;

}

.remarque
{


color:red;
font-family:Comic Sans MS;

}